.btn{
    text-transform:capitalize;
    color: $color-light;
    border: none;
    padding: $padding-xs $padding-m $padding-xs $padding-m;
    font-size: $text-size-xs;
}
.close{
    border: none;
    background: transparent;
    width: $close-width-height;
    height: $close-width-height;
    position: relative;
}