*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 
.dish_menu{
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-between;

    .dish_type{
        @include no-link;
        text-transform: none;
        color: $color-dark;
        font-size: $text-size-xs;

    }
    .active::after{
        @include content-img;
        display: block;
        margin-top: $margin-xxxxs;
        height: 3px;
        background-image: url(../images/divider.svg);
    }
}
