
.section{

    .link_about{
        @include no-link;
        color: $color-dark;
        font-size: $text-size-m;
    }
    .divider{
        position: relative;
    }
    .divider::after{  
        background-image: url(../images/divider.svg);
        @include content-img;  
        width: $mini-divider-width;
        height: $divider-height;
        margin-left: $margin-m;
        position: absolute;
        top: 12px;
    }

    .section_content{
        @include flex-row;
        margin-top: $margin-xlx;
        align-self: center;
        justify-content: space-between;
        .timing{
            @include flex-row;
            flex-wrap: wrap;
            justify-content: space-between;
            // max-width: 416px;

            .timing_inform{
                width: 50%;
                margin-bottom: $margin-xl;
                @include flex-column;

                .main_text{
                    font-size: $text-size-xxxxl;
                    color: $color-add;
                    margin-bottom: $margin-xxxxs;
                }
                .text{
                    font-size: $text-size-s;
                }

            }
            .timing_inform:nth-child(3), .timing_inform:nth-child(4){
                margin-bottom: 0;
            }
        }
        .address{
            display: flex;
            overflow: hidden;
            .address_img{
                background-image: url(../images/map.svg);
                @include img;
                background-size: cover;
                width: 746px;
                height: 450px;
                display: flex;
                position: relative;
                left:110px;
               
            
                .address_inform{
                    background: $bg-dark;
                    padding: $padding-xl;
                    @include flex-column;
                    align-self: center;
                    position: absolute;
                    left: -110px;

                    .contacts{
                        text-transform: capitalize;
                        font-size: $text-size-xs;
                        color: $color-light;
                    }
                    .contacts:nth-child(1){
                        margin-bottom: $margin-xs;
                    }
                    .contacts:nth-child(2){
                        @include no-link;
                    }
                    .vector_addr::before, .vector_tel::before{
                        display: inline-block;
                        margin-right: $margin-xs;
                        @include content-img;
                        width: 15px;
                        height: 15px;
                    }
                    .vector_addr::before{
                        background-image: url(../images/location.svg);
                    }
                    .vector_tel::before{
                        background-image: url(../images/tel.svg);
                    }
                    .main_text{
                        font-size: $text-size-m;
                        color: $color-light;
                        margin-bottom: $margin-xxs;
                        margin-top: $margin-s;
                    }
                    .text{
                        font-size: $text-size-s;
                        color: $color-light;
                        margin-bottom: $margin-xxs;
                    }
                    .text:nth-child(2){
                        margin-bottom: $margin-s;
                    }
                    .buttons{
                        justify-content: flex-start;
                        margin-top: 0;
                        .btn{
                            padding: $padding-xs $padding-m $padding-xs $padding-m;
                            font-size: $text-size-xs;
                        }
                        .border:nth-child(1){
                            margin-right: 0;
                        }
                        .btn:nth-child(1){
                            background-color: $btn-color1;
                        }
                        .btn:nth-child(2){
                            background: transparent;
                            border:1px solid $color-light;
                            color: $color-light;
                        }
                    }

                }
            }

        }
    }

}