<div class="section" *ngFor="let inform of information">
    <span *ngIf="inform.name==='доставка'" id="delivery"></span>
    <a class="link_about divider">{{inform.name}}</a>  
    <div class="section_content">
        <h3 class="title_text"> {{inform.title}}</h3>
        <span class="text">
            {{inform.description}}
            <p class="text" *ngIf="more">{{inform.more}}</p>
            <p class="timetable" *ngIf="delivery">Доставка:<br> {{inform.delivery}}</p>
        </span>
    </div>
    <div class="food_menu" *ngIf="inform.name==='меню'">
        <span class="border">
            <a routerLink="/menu/Завтраки" class="menu_name food_img divider">Основное меню</a>
        </span>
        <span class="border">
            <a routerLink="menu/drinks" class="menu_name wine_img divider">Барная карта</a>
        </span>
    </div>
    <div class="buttons" *ngIf="inform.name==='доставка'">
        <button class="btn" (click)="onMore()">Подробнее</button>
        <button class="btn" (click)="onDelivery()">Условия доставки</button>
    </div>
</div>