<div class="contacts">
    <a href="" class="link_about divider">контакты</a>
    <div class="section_content">
        <div class="timing">
            <div class="timing_inform">
                <h4 class="main_text">2 мин</h4>
                <p class="text">из центра Одессы</p>
            </div>
            <div class="timing_inform">
                <h4 class="main_text">12 мин</h4>
                <p class="text">из аэропорта</p>
            </div>
            <div class="timing_inform">
                <h4 class="main_text">42 мин</h4>
                <p class="text">из города Южный</p>
            </div>
            <div class="timing_inform">
                <h4 class="main_text">52 мин</h4>
                <p class="text">из города Черноморск</p>
            </div>
        </div>
        <div class="address">
            <span class="address_img">
                <div class="address_inform">
                    <p class="contacts-inf vector_addr">Одесса, Северная дорога, 11 </p>
                    <a href="tel:+7 (921) 777-77-77" class="contacts-inf vector_tel">+7 (921) 777-77-77</a>
                    <p class="main_text">Время работы</p>
                    <p class="text">Вск-Чт с 12:00 до 23:00</p>
                    <p class="text">Пт-Сб с 12:00 до 03:00</p>
                    <div class="buttons">
                        <button class="btn" type="button" (click)="openBooking(booking)">Бронь столика</button>
                        <button class="btn">Задать вопрос</button>
                    </div>
                </div>
            </span>  
        </div>
        <ng-template appPlaceholder></ng-template>
    </div>
</div>