<ng-template appPlaceholder></ng-template>
<app-left-menu></app-left-menu>
<div class="promo-content">
    <div class="mini_header">
        <a routerLink="/menu/Завтраки" class="link">меню</a>
        <a href="#delivery" class="link">доставка</a>
        <a routerLink="#payment" class="link">оплата</a>
        <button type="button" class="btn" (click)="openMenu(booking)">бронь столика</button>
    </div>
    <div class="content">
        <h1 class="title">Видовой ресторан Food Exxe Relo <br>на Крестовском острове</h1>
    </div>
</div>
