main{
    .page_content{
        @include flex-row;

        .wrapper{
            @include flex-column;
            align-items: center;
            margin-top: $margin-m;
            margin-bottom: $margin-xxl;
            .menu{
                @include flex-column;
                .mini_header{
                    margin-bottom: $padding-xxl;
                }
                .cards{
                    @include flex-row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    margin-top: $margin-xl;
                    width: 100%;

                    .card{
                        width: 23%;
                        @include flex-column;
                        align-items: center;
                        border: 1px solid rgba(51, 51, 51, 0.2);
                        margin-bottom: $margin-s;

                        .egg3, .omelet, .cheesecakes, .pancakes, .sereal, .scramble, .egg_salmon, .egg_bacon,
                        .buckwheat, .salad_salmon, .salad_shrimp{
                            @include img;
                            width: 100%;
                            height: $menu-height;
                            margin-bottom: $margin-m;

                        }
                        .egg3{
                            background-image: url(../images/egg3.svg);
                        }
                        .omelet{
                            background-image: url(../images/omlete.svg);
                        }
                        .cheesecakes{
                            background-image: url(../images/cheesecakes.svg);
                        }
                        .pancakes{
                            background-image: url(../images/pancakes.svg);
                        }
                        .sereal{
                            background-image: url(../images/sereal.svg);
                        }
                        .scramble{
                            background-image: url(../images/scramble.svg);
                        }
                        .egg_salmon{
                            background-image: url(../images/egg_salmon.svg);
                        }
                        .egg_bacon{
                            background-image: url(../images/egg_bacon.svg);
                        }
                        .buckwheat{
                            background-image: url(../images/buckwheat.svg);
                        }
                        .salad_salmon{
                            background-image: url(../images/salad_salmon.svg);
                        }
                        .salad_shrimp{
                            background-image: url(../images/salad_shrimp.svg);
                        }

                            .name{
                                font-size: $text-size-m;
                                color: $color-dark;
                                text-align: center;
                                text-decoration: none;
    
                            }
                            
                            .card_container{
                                @include flex-row;
                                justify-content: space-around;
                                margin-top: $margin-m;
                                align-self: stretch;
    
                                .price{
                                    font-size: $text-size-xl;
                                    color: $color-dark;
                                }
                                .btn{
                                    padding: $padding-xs $padding-m $padding-xs $padding-m;
                                    background-color: $btn-color1;
                                    font-size: $text-size-xs;
                                }
                            }
                    }
                    .card:nth-child(9), .card:nth-child(10){
                        margin-bottom: 0;
                    }
                }
            }
            .section{
                margin-top: $margin-xxxl;
                max-width: 1296px;
            }
        }
    }

}