.wrap{
    @include img;
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.4), rgba(51, 51, 51, 0.4)), url(../images/main_bg.svg);
    display: flex;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    position: relative;
    align-items: center;

    .modal{
        background: $color-dark;
        @include flex-column;
        padding: $padding-l $padding-xxl $padding-xxl $padding-xxl;
        align-items: center;
        max-width: 416px;
        align-items: stretch;
        position: absolute;


            .close{
                align-self: flex-end;
            }
            .close::after{
                @include content-img;
                background-image: url(../images/close.svg);
                width: 20px;
                height: 20px;
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
            .logo{
                margin-bottom: $margin-l;
                align-self: center;
            }
            .main_text{
                text-transform: uppercase;
                font-size: $text-size-m;
                color: $color-light;
                margin-bottom: $margin-l;
                align-self: center;
            }
            input{
                background: $color-dark;
                color: $color-light;
                font-size: $text-size-xs;
                border: 1px solid $color-light;
                padding: $padding-s 0 $padding-s $padding-m;
                margin-bottom: $margin-m;
            }
            .input_container{
                @include flex-row;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin-bottom: $margin-l;

                input{
                    width: 50%;
                    margin-bottom: 0;
                }
            }
            .btn{
                font-size: $text-size-xs;
                color: $color-light;
                padding: $padding-xs $padding-m $padding-xs $padding-m;
                align-self: center;
                background: $btn-color1;
            }
        

    }
}