$color-dark: #333;
$color-light:#fff;
$color-add:#B59571;
$bg-dark:#5B5B5B;

$margin-xxxxs:5px;
$margin-xxxs:10px;
$margin-xxs:15px;
$margin-xs:20px;
$margin-s:25px;
$margin-m:30px;
$margin-l:40px;

$padding-xs:10px;
$padding-s:15px;
$padding-m:20px;
$padding-l:30px;
$padding-xl:40px;
$padding-xxl:60px;

$margin-xl:50px;
$margin-xlx:80px;
$margin-xxl:100px;
$margin-xxlx:135px;
$margin-xxxl:150px;

$logo-width:80px;
$logo-height:46px;
$burger-width:33px;
$burger-height:23px;
$mini-divider-width:60px;
$divider-height:3px;


$widthS:320px;
$widthL:1024px;

$text-size-xs:16px;
$text-size-s:18px;
$text-size-m:20px;
$text-size-l:24px;
$text-size-xl:32px;
$text-size-xxl:48px;
$text-size-xxxl:54px;
$text-size-xxxxl:64px;

$close-width-height:40px;
$menu-width:304px;
$menu-height:220px;

$big-main-img-height:240px;
$big-main-img-width:317px;
$small-main-img-height:122px;
$small-main-img-width:93px;

$checkbox:24px;


$btn-color1:#B59571;

